/* Navigation breakpoints */
.desktop-menu, .top-bar {
  @include show-for(large);
}

#mobile-menu, .title-bar {
  @include hide-for(large);
}


/* Tablet and desktop menu */
.top-bar {
   height: 50px;
   background-color: #fff;
}
  .top-bar .menu a {
    height: 50px;
    color: #525252;
    font-weight: 300;
    font-size: 1rem;
    }
  
    .top-bar .menu a:hover {
      text-decoration: underline;
      color: black;
    }

      .top-bar .menu .active > a {
        font-weight: 700;
        text-decoration: underline;
        background-color: #fff;
      }


  .top-bar .menu>li:not(.menu-text)>a { padding: 1rem 1rem 1rem 1rem; }

  .dropdown.menu .submenu {
    border: 0;
  }

  .dropdown.menu .has-submenu.is-down-arrow a { padding-right: 1rem; }
  .dropdown.menu .has-submenu.is-down-arrow > a::after { border: 0; }

  .dropdown.menu:first-child >
    li.is-dropdown-submenu-parent >
    a::after {
      display: none;
    }

.top-bar ul {
  background-color: #fff;
}
